{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Password Reset | My-Studyapp{% endblock title %}
{% block body_class %}white-page{% endblock body_class %}

{% block content %}
<div class="container">
    <div class="my-div-style">
        <div>
            <h1 class="mb-5">Password reset</h1>
            <p class="mb-5" >We've sent you an email to reset your password. If you don't receive the confirmation email, please check your spam folder.</p>
        </div>
    </div>
</div>
{% endblock content %}
