{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Change Password | My-Studyapp{% endblock title %}
{% block body_class %}white-page{% endblock body_class %}

{% block content %}
<div class="container">
    <div class="my-div-style">
        <div>
            <h1 class="mb-5">Change your password</h1>
        </div>
        {% if token_fail %}
            <p class="mb-5">The password reset link was invalid, possibly because it has already been used.</p>
            <a href="{% url 'account_reset_password' %}">REAPPLICATION</a>
        {% else %}
            <form action="{{ action_url }}" method="POST">
                {% csrf_token %}

                {% bootstrap_form form %}

                <button class="btn btn-primary mt-4 mb-5" type="submit">CHANGE</button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock content %}
