{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Password Reset| My-Studyapp{% endblock title %}
{% block body_class %}white-page{% endblock body_class %}

{% block content %}
<div class="container">
    <div class="my-div-style">
        <div>
            <h1 class="mb-5">Password reset</h1>
            <p>We will send you an email to reset your password.</p><br>
        </div>
        <form action="{% url 'account_reset_password' %}" method="POST">
            {% csrf_token %}

            {% bootstrap_form form %}

            <button class="btn btn-primary mt-4 mb-5">SEND</button>
        </form>
    </div>
</div>
{% endblock content %}
