{% extends "base.html" %}
{% load static %}

{% block title %}Interst Cateogies|ASCENSION{% endblock title %}
{% block body_class %}white-page{% endblock  %}

{% block content %}
<div class="container mt-5">
    <div class="my-div-style">
        <div>
            <h1 class="mb-4">{{ interest_category.name }} - Learning Goals</h1>
        </div>
        <div>
            <ul>
                {% for goal in learning_goals %}
                    <div class="d-flex mb-4">
                        <a href="{% url "task_management:learning_goal_detail" goal.id %}" class=''>
                            <li>{{ goal.title }}</li>
                        </a>
                        <a href="{% url 'task_management:learning_goal_delete' goal.id %}" class="btn btn-sm">: delete</a><br>
                    </div>
                {% empty %}
                    <p>There are no learning goals registered.</p>
                {% endfor %}
                <div class="d-flex gap-2 mb-5">
                    <a href="{% url 'task_management:learning_goal_set' user_interest.id %}" class="btn btn-primary">CREATE</a>
                </div>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
