{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Create Interest Category | My-Studyapp{% endblock title %}
{% block body_class %}White-page{% endblock body_class %}

{% block content %}
    <div class="container mt-5">
        <div class="my-div-style">
             <h2 class="mb-4">Create New Interest Category</h2>
        </div>
        <form method="post" novalidate>
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
{% endblock content %}